@charset "utf-8";

@import url('/assets/gradeCurricular/gradecurricular.css');

th{
    text-transform: uppercase;
    background-color: #357CA5;
    font-weight: 600;
    color: #FFFFFF;
    vertical-align: text-top;
    text-align: center;
    padding: 8px 30px 8px 8px;
    border: 1px solid rgba(0, 0, 0, 0.059);
    
}
